<div *ngIf="loaded">
  <!-- <img class="bg" src="{{ getPoster(movie.backdrop_path) }}" alt="" /> -->

  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ="
    crossorigin="anonymous"
  />

  <div class="container">
    <div class="team-single">
      <div class="row">
        <div class="col-lg-4 col-md-5 xs-margin-30px-bottom">
          <div class="team-single-img">
            <img src="{{ getPoster(movie.poster_path) }}" alt="" />
          </div>
          <div
            class="bg-light-gray padding-30px-all md-padding-25px-all sm-padding-20px-all"
          >
            <p class="sm-width-95 sm-margin-auto">
              <b>Original title: </b> {{ movie.original_title }}
            </p>
            <p class="sm-width-95 sm-margin-auto">
              <b>Release date: </b> {{ movie.release_date }}
            </p>
            <p class="sm-width-95 sm-margin-auto">
              <b>Status: </b> {{ movie.status }}
            </p>
            <a
              class="sm-width-95 sm-margin-auto text-center"
              href="{{ getIMDB(movie.imdb_id) }}"
            >
              <b>IMDB</b>
            </a>
          </div>
        </div>

        <div class="col-lg-8 col-md-7">
          <div class="team-single-text padding-50px-left sm-no-padding-left">
            <h4 class="font-size38 sm-font-size32 xs-font-size30">
              {{ movie.title }}
            </h4>
            <p class="no-margin-bottom">
              {{ movie.overview }}
            </p>
            <h5>
              <a
                *ngFor="let genre of movie.genres"
                [routerLink]="['/movies']"
                [queryParams]="{ genre: genre.name }"
                class="badge badge-pill badge-secondary"
                >{{ genre.name }}</a
              >
            </h5>
          </div>
        </div>

        <div class="col-md-12"></div>
      </div>
    </div>
  </div>
</div>
