<div class="container">
  <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
    <button
      type="button"
      class="btn btn-secondary"
      [ngClass]="{ active: currentSortBy === 'popularity' }"
      [routerLink]="['/movies']"
      [queryParams]="{ sortBy: 'popularity' }"
    >
      Popular
    </button>
    <button
      type="button"
      class="btn btn-secondary"
      [ngClass]="{ active: currentSortBy === 'vote_average' }"
      [routerLink]="['/movies']"
      [queryParams]="{ sortBy: 'vote_average' }"
    >
      Top Rated
    </button>
    <button
      type="button"
      class="btn btn-secondary"
      [ngClass]="{ active: currentSortBy === 'primary_release_date' }"
      [routerLink]="['/movies']"
      [queryParams]="{ sortBy: 'primary_release_date' }"
    >
      Upcoming
    </button>
  </div>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
    <div class="col" *ngFor="let movie of movies | async">
      <div class="card h-100" *ngIf="loaded">
        <img
          src="{{ getPoster(movie.poster_path) }}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">{{ movie.title }}</h5>
          <p class="card-text" *ngIf="currentSortBy === 'vote_average'">
            {{ movie.vote_average }} ({{ movie.vote_count }})
          </p>
          <a class="stretched-link" routerLink="/movie/{{ movie.id }}"></a>
        </div>
      </div>
    </div>
  </div>
  <nav aria-label="...">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a
          class="page-link"
          routerLink="/movies"
          [queryParams]="{
            page: currentPage - 1,
            genre: currentGenre,
            sortBy: currentSortBy
          }"
          >Previous</a
        >
      </li>
      <li class="page-item active">
        <a class="page-link">{{ currentPage }}</a>
      </li>
      <li class="page-item">
        <a
          class="page-link"
          routerLink="/movies"
          [queryParams]="{
            page: currentPage + 1,
            genre: currentGenre,
            sortBy: currentSortBy
          }"
          >{{ currentPage + 1 }}</a
        >
      </li>
      <li class="page-item">
        <a
          class="page-link"
          routerLink="/movies"
          [queryParams]="{
            page: currentPage + 2,
            genre: currentGenre,
            sortBy: currentSortBy
          }"
          >{{ currentPage + 2 }}</a
        >
      </li>

      <li class="page-item">
        <a
          class="page-link"
          routerLink="/movies"
          [queryParams]="{
            page: currentPage + 1,
            genre: currentGenre,
            sortBy: currentSortBy
          }"
          >Next</a
        >
      </li>
    </ul>
  </nav>
</div>
