<div class="container">
  <div class="input-group">
    <input
      type="text"
      class="form-control"
      placeholder="Search something cool to watch"
      aria-label="search"
      aria-describedby="basic-addon2"
    />
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button">Search</button>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
    <div class="col" *ngFor="let movie of movies">
      <div class="card h-100">
        <img src="assets/avengers.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{ movie.title }}</h5>
          <p class="card-text">
            {{ movie.year }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
